@import url('https://fonts.googleapis.com/css?family=Dosis|Shrikhand');
body {
    background-color: #3f3f3f;
    font-family:'Dosis', sans-serif;
}


/*Navbar changes*/
.navbar-default{
   background-color: #54428E;
   border: none;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #8963BA;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #8963BA;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #8963BA;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #8963BA;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

/* HomepageChanges */
.para{
    text-align: center;
    color: white;
    font-size: 1.1em;
}
#welcome{
    font-family: 'Shrikhand', cursive;
    color: white;
    text-align: center;
    font-size: 4.5em;
    margin: 0px;
    padding: 0px;
}
#gamename{
    display: block;
    float: left;
    width: 80%;
    margin: 0px;
    border: none;
    height: 40px;
    font-size: 2em;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-bottom: 5px solid #54428E;
}
#gamename:focus{
    outline:none;
}
#searchGame{
    display: block;
    float: left;
    width: 20%;
    border: 0;
    height: 40px;
    font-size: 1.5em;
    background-color: white;
}
#searchGame:active{
    border: none;
    outline: none;
    background-color: #54428E;
    color: white;
}
#searchGame:focus{
    outline: 0;
}

.Content{
    background-color: #8963BA;
    padding: 10px;
}
.glyphicon-heart {
    font-size: 14em;
}
.iconschange{
   display: block;
    text-align:center;
    color: white;
}
.ui-menu-item{
    background-color: rgba(0,0,0,0.2);
    color: white;
    border: none;
}
#ui-id-1{
    border: none;
    background-color:rgba(0,0,0,0.2);
}
#topgames{
    margin-top: 100px;
}

.setInline{
  float: left;
}


/* Media Queries */
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 360px) {
    .glyphicon-heart {
        font-size: 10em;
    }
    #welcome{
        font-size: 3em;
    }
    #para{
        font-size: 0.7em;
    }
    .ui-menu-item{
        font-size: 0.7em;
    }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */
}
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
}
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
}

